body{
	background-image: url('https://cdn.jsdelivr.net/gh/Point-King/pictures@1.0/introduce-background.jpg');
	background-size: auto;
	background-attachment: fixed;
}
header{
	background-color: rgba(240,248,256,0.9);
	height: 240px;
	width: 900px;
	margin: 0 auto;
	float: inline-start;
}
h3{
	color: black;
	font-size: 20;
	font-family: monospace;
}
#my_blog{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
section{
	background-color: rgba(240,248,256,0.9);
	width: 900px;
	height: 600px;
	margin: 0 auto;
}
#my_video{
	width: 800px;
	height: 515px;
	margin: 0 auto;
}
#my_picture{
	width: 800px;
	height: 515px;
	margin: 0 auto;
}
footer{
	background-color: rgba(240,248,256,0.9);
	height: 75px;
	width: 900px;
	margin: 0 auto;
	float: inline-end;
}
p{
	color: black;
	font-size: 15;
	font-family: monospace;
	display: block;
	text-align: center;
}